:root{
    --color-white:white;
    --color-white-200:rgba(255,255,255,.2);
    --color-purple:rgb(35,15,51);
    --color-purple-100:rgba(35,15,51);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*! info-bar */

.info-bar{
    color: var(--color-white);
    background-color: var(--color-purple);
    /* border: 1px solid red; */
}

.info-bar-container{
    display: flex;
    justify-content: end;
    max-width: 1250px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
ul{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 10px 0;
    font-size: 13px;
    
}

ul li:first-child,ul li:nth-child(2){
    display: flex;
    gap: 5px;
    /* border: 1px solid red; */
}
li p:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*! logo-signin */

.logo-signin{
    color: var(--color-white);
    background-color: var(--color-purple);
    width: 100%;
    /* border: 1px solid red; */

}

.lego-signin-container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    /* border: 5px solid lightblue; */
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-container a{
    text-decoration: none;
    color: var(--color-white);
}
.logo-container h1:hover{
    cursor: pointer;
}
/* .logo-container button{
    color: var(--color-white);
    background-color: var(--color-purple);
    border: none;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 8px 15px;
} */

.shop-signin{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.fa-cart-shopping , .fa-bell{
    padding: 20px 10px;
    border-radius: 5px;
    &:hover{
        background-color: var(--color-white-200);
        cursor: pointer;
    }
}
.logo-container button , .shop-signin button{
    color: var(--color-white);
    background-color: var(--color-purple);
    border: none;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;

    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

/*! dropdown */
/* .signin-dropdown{
    position: absolute;
    display: block;
    display: flex;

    background-color: red;
}

.itemlist ul li{
    text-transform: capitalize;
} */

/*! city/search */
.city-search{
    color: var(--color-white);
    background-color: var(--color-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 25px 0;
    /* padding-bottom: 25px; */
    /* border: 1px solid red; */
}

.city-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    gap: 20px;
    /* border: 1px solid red; */
}


.city-search-container button{
    border: none;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: 40px;
    font-weight: bold;
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.city-search-container input{
    width: 60%;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    outline: none;
   
    &:focus::placeholder{
        color: white;
        }
}