:root {
    --color-white: white;
    --color-black-500: rgba(0, 0, 0, .5);
    --color-black-700: rgba(0, 0, 0, .7);
    --color-white-200: rgba(255, 255, 255, .2);
    --color-purple: rgb(35, 15, 51);
    --color-purple-100: rgba(35, 15, 51);
    --color-red-700: rgba(255, 0, 0, .7);
    --color-green: rgb(0, 100, 0);
    --color-green-150: rgba(0, 255, 0, .15);
    --mw1250: 1250px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*! info-bar */

.info-bar {
    color: var(--color-white);
    background-color: var(--color-purple);
    /* border: 1px solid red; */
}

.info-bar-container {
    display: flex;
    justify-content: end;
    max-width: var(--mw1250);
    margin: 0 auto;
    /* border: 1px solid red; */
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 10px 0;
    font-size: 13px;

}

ul li:first-child,
ul li:nth-child(2) {
    display: flex;
    gap: 5px;
    /* border: 1px solid red; */
}

li p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*! logo-signin */

.logo-signin {
    color: var(--color-white);
    background-color: var(--color-purple);
    width: 100%;
    /* border: 1px solid red; */

}

.lego-signin-container {
    max-width: var(--mw1250);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    /* border: 5px solid lightblue; */
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-container a {
    text-decoration: none;
    color: var(--color-white);
}

.logo-container h1:hover {
    cursor: pointer;
}

/* .logo-container button{
    color: var(--color-white);
    background-color: var(--color-purple);
    border: none;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 8px 15px;
} */

.shop-signin {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.fa-cart-shopping,
.fa-bell {
    padding: 20px 10px;
    border-radius: 5px;

    &:hover {
        background-color: var(--color-white-200);
        cursor: pointer;
    }
}

.logo-container button,
.shop-signin button {
    color: var(--color-white);
    background-color: var(--color-purple);
    border: none;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 15px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

/*! dropdown */
/* .signin-dropdown{
    position: absolute;
    display: block;
    display: flex;

    background-color: red;
}

.itemlist ul li{
    text-transform: capitalize;
} */

/*! city/search */
.city-search {
    color: var(--color-white);
    background-color: var(--color-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 25px 0;
    /* padding-bottom: 25px; */
    /* border: 1px solid red; */
}

.city-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--mw1250);
    gap: 20px;
    /* border: 1px solid red; */
}


.city-search-container button {
    border: none;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: 40px;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.city-search-container input {
    width: 60%;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    outline: none;

    &:focus::placeholder {
        color: white;
    }
}

/*! news-bar */
.news-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green-150);
    height: 50px;
}

.news-bar-container {
    /* display: flex;
justify-content: center;
align-items: center;
gap: 50px; */
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    justify-items: center;
    align-items: center;
    max-width: var(--mw1250);
    text-align: center;
    font-size: 14px;
}

.pipeline {
    width: 1px;
    height: 35px;
    background-color: var(--color-black-500);
}


/* ?---------main------------ */
/* first-sec */
.first-sec {
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}

.first-sec h1 {
    margin: 15px 0;

}

.first-sec-container {

    width: var(--mw1250);
    /* border: 1px solid red; */

}

.h1span {
    font-weight: normal;
}

.trending-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* border: 1px solid red; */

}

.card {
    width: 350px;
    border-radius: 10px;
    /* overflow: hidden; */
    /* border: 2px solid green; */
}

.card-pic-container img {
    border-radius: 10px;
}

.card-info-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    /* border: 3px dotted blue; */
}

.card-info-container p {
    font-size: 14px;
}

.card-info-container p:last-child {
    font-size: 14px;
    margin-bottom: 15px;
}

.first-price {
    font-weight: normal;
    color: var(--color-red-700);
    font-size: 20px;
    text-decoration: line-through;
    margin-right: 5px;
}

.from {
    font-weight: normal;
    color: var(--color-black-700);
    font-size: 13px;
}

.second-price {
    font-weight: bold;
    color: var(--color-green);
    font-size: 23px;
    margin-right: 5px;
}

.discount-badge {
    background-color: var(--color-green-150);
    color: var(--color-green);
    font-size: 13px;
    padding: 2px 5px;
}

/* banner */
.banner{
    color: var(--color-white);
    margin-bottom: 100px;
    display: flex;
    justify-content: center;

}
.banner-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: var(--mw1250);
    justify-items: center;
    /* border: 1px dotted red; */
}
.banner-card{
    width: 600px;
    height: 250px;
    /* border: 1px solid red; */
    border-radius: 25px;
}
.banner-card1{
    background-image: url("https://source.unsplash.com/Xaanw0s0pMk");
}
.banner-card2{
    background-image: url("https://source.unsplash.com/eOcyhe5-9sQ");
}

.banner-card h1{
    margin:50px 0 15px 25px;
    font-size: 35px;
}
.banner-card p{
    margin:0 0 15px 25px;
    font-size: 14px;
}
.banner-card button{
    color: var(--color-white);
    margin:0 0 15px 25px;
    border: none;
    padding: 10px 25px;
    border: 2px solid var(--color-white);
    background-color: transparent;
    border-radius: 5px;
}


